{% extends "layout.twig" %}
{% block title %} Editar usuario {% endblock %}
{% block main_container %}
    <h2>Editar usuario</h2>

    {% include '../error.twig' %}
    {% include '../succes.twig' %}
    <form action="/users/edit/{{ user._id }}" method="post">

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
        </div>
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ user.name }}">
        </div>
        <div class="form-group">
            <label for="surname">Apellidos</label>
            <input type="text" class="form-control" id="surname" name="surname" value="{{ user.surname }}">
        </div>
        <div class="form-group">
            <label for="role">Rol</label>
            <select class="form-control" id="role" name="role">
                <option value="user" {% if user.role == 'user' %}selected{% endif %}>Usuario</option>
                <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Administrador</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
{% endblock %}