{% extends "layout.twig" %}

{% block title %}Crear Nueva Publicación{% endblock %}

{% block main_container %}
    {% include '../error.twig' %}
    {% include '../succes.twig' %}
    <h2>Crear Nueva Publicación</h2>

    <form action="/post/add" method="post">
        <div class="form-group">
            <label for="title">Título</label>
            <input type="text" name="title" id="title" class="form-control" >
        </div>
        <div class="form-group">
            <label for="content">Texto</label>
            <textarea name="content" id="content" class="form-control"></textarea>
        </div>
        <button id="submitPost" type="submit" class="btn btn-primary">Crear Publicación</button>
    </form>
{% endblock %}
